@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Overpass+Mono&family=Overpass:wght@300&family=Pathway+Gothic+One&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
body{
  /* width: 100vw; */
  /* height: 100vh; */
  background: linear-gradient(to left, #270b69, #5f5cb1, #390a51);
  /* background-color: #531274; */
}

html {
  scroll-behavior: smooth;
}

.App {
  margin: 0 auto;
  margin-top: 5.2vw;
  width: 70vw;
  /* height: 110vh; */
  text-align: center;
  background-color: rgb(27, 27, 27);
}

.link {
  color: rgb(203, 203, 203);
  font-style: italic;
  text-decoration: none;
}

a{
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

#navbar{
  background-color: rgb(27, 27, 27);
  padding-top: 3vh;
  margin-left: 2.6vw;
}

#navbar > li{
  /* float: left; */
  display: inline;
  color: white;
  padding: 1vh;
  margin-right: 2.6vw;
  font-family: 'Montserrat', 'sans-serif';
  letter-spacing: 1px;
  font-size: 20px;
  box-shadow: 0px 0px 0px 0px rgb(27, 27, 27);
  transition: box-shadow 300ms;
  /* border-bottom-width: 0px; */
}

#navbar > li:hover{
  cursor: pointer;
  transition: box-shadow 300ms;
  box-shadow: 0px 1px 0px 0px #dd7711;
  /* border-bottom-width: 100px; */
}

#navTechnologies, #navDesign, #navAboutMe{
  /* margin-left: 26.5vw; */
  float: right;
}

#navProjects{
  float:left;
}


#home{
  display: grid;
  grid-template-columns: 30vw auto;
  /* width:50%; */
  margin-top: 20vh;
  margin-left: 5.2vw;
  margin-bottom: 0px;
  color:white;
  font-size: 3.5vw;
  font-family: 'Poppins', 'sans-serif';
  text-align: left;
  line-height: 130%;
  height: 45vh;
}

.details{
  font-size: 1vw;
  font-family: 'Montserrat', 'sans-serif';
  margin-top: 3vw;
  margin-bottom: 3vw;
  margin-left: 1vw;
  width: 80%;
  line-height: 1.8;
}

#projectButton{
  color: white;
  padding: 15px;
  margin-left: 2.6vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  font-size: 20px;
  font-family: 'Poppins', 'sans-serif';
  font-weight: bold;
  background-color: #dd7711;
  /* border: 1px solid rgb(255, 255, 255);*/
  border: none;
  text-transform: uppercase;
  width: 160px;
  box-shadow: inset 0 0 0 0 rgb(65, 27, 101);
  transition: 300ms;
}

#projectButton:hover{
  transition: 300ms;
  box-shadow: inset 160px 0 0 0 rgb(65, 27, 101);
  border-color: rgb(65, 27, 101);
}

#aboutMeButton{
  color: white;
  /* padding: 15px; */
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  margin-left: 5px;
  font-size: 18px;
  font-family: 'Poppins', 'sans-serif';
  letter-spacing: 1px;
  /* text-decoration: underline; */
  box-shadow: 0px 1px 0px 0px #ffffff;
  /* text-decoration-thickness: 2px; */
  /* text-decoration-color: #dd7711; */
}

.symbol1{
  position: relative;
  /* margin-left: 50px; */
  font-size: 30px;
  top: 8px;
  height: fit-content;
  opacity: 0;
  transition: opacity 300ms;
  color: white;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.symbol2{
  color: white;
  font-size: 40px;
  position: relative;
  top: -35vh;
  left: 16.25vw;
  border: 1px solid white;
  background-color: rgb(27, 27, 27);
  padding: 3px;
  padding-left: 10px;
  padding-right: 8px;
  transition: font-variation-settings 300ms;
  transition: padding 300ms;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.symbol3{
  color: white;
  font-size: 40px;
  position: relative;
  top: -35vh;
  left: 16.25vw;
  border: 1px solid white;
  background-color: rgb(27, 27, 27);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 18px;
  padding-right: 0px;
  transition: font-variation-settings 300ms;
  transition: padding 300ms;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.techCounter{
  position: relative;
  top: -35.87vh;
  left: 14vw;
  font-size: 40px;
  color: rgb(156, 156, 156);
}

.symbol2:hover{
  transition: font-variation-settings 300ms;
  transition: padding 300ms;
  cursor: pointer;
  /* background-color: black; */
  /* color:#dd7711; */
  background-color: black;
  padding-right: 0px;
  padding-left: 18px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.symbol3:hover{
  transition: font-variation-settings 300ms;
  transition: padding 300ms;
  cursor: pointer;
  /* background-color: black; */
  /* color:#dd7711; */
  background-color: black;
  padding-left: 10px;
  padding-right: 8px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#aboutMeButtonContainer{
  /* position: absolute;
  display: inline; */
  background-color: rgb(27, 27, 27);
  border: none;
  margin-left: 2.35vw;
  /* margin-top: 50px; */
  /* height: 30px;
  width: 200px; */
}

#aboutMeButtonContainer:hover .material-symbols-outlined{
  transition: opacity 300ms;
  opacity: 1;
}

#aboutMeButtonContainer:hover, #projectButton:hover {
  cursor: pointer;
}

#techContainer{
  height: 80vh;
  background: linear-gradient(135deg, #e3e2ff, rgb(240, 207, 251));
}

#techTitle{
  position: relative;
  top: -36vh;
  left: 5.7vw;
  float: left;
  font-size: 50px;
  color: white;
  letter-spacing: 5px;
  font-family: 'Montserrat';
}

#techList{
  display: grid;
  grid-template-columns: 300px auto;
  position: relative;
  margin: 0 auto;
  top: -25.7vh;
  height: 51.5vh;
  background-color: white;
  width: 85%;
}

.techSubTitle{
  margin: 30px;
  margin-top: 12vh;
  text-align: left;
  font-size: 42px;
  font-family: 'Poppins';
}

.techDetails{
  margin-left: 1.5vw;
  margin-right: 4vw;
  font-size: 26px;
  text-align: left;
  line-height: 1.6;
}

.techIcon{
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15.5vh;
  margin-left: 4vw;
  height: 20vh;
  width: 10vw;
  /* background-color: grey; */
}

.title{
  color:white;
  margin: 0 auto;
  margin-top: 2vh;
  width: fit-content;
  padding: 10px;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 24px;
  font-family: "Overpass";
  font-weight: bold;
}

.techFooter{
  position: relative;
  height: 25vh;
  background-color: rgb(27, 27, 27);
  color:white;
  font-size: 30px;
}

/* #projectTitle1{
  border:2px solid #570d79;
}

#projectTitle2{
  border:2px solid #423b8b;
}

#projectTitle3{
  border:2px solid #232155;
}

#projectTitle4{
  border:2px solid #542a6b;
} */

.projectImg{
  margin: 0 auto;
  margin-top: 10px;
  width: 10vw;
  height: 15vh;
  background-color: rgb(73, 73, 73);
}

.techIconImg{
  height: auto;
  width: 10vw;
  vertical-align: middle;
}

.projectImagw{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 15vw;
}

#pokemonImg{
  margin: 0 auto;
  max-height: 14vw;
  height: 14vw;
  width: 14vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./images/pokemon.png');
}

.paragraph{
  color: white;
  font-family: "Poppins";
  margin: 1vw;
  text-align: left;
}

.readMore{
  position: absolute;
  bottom: 25px;
  color: white;
  /* padding: 15px; */
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  margin-left: 1vw;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: 'Poppins', 'sans-serif';
  /* text-decoration: underline; */
  box-shadow: 0px 1px 0px 0px #ffffff;
  width: fit-content;
}

.circle{
  background-color: #2c073f;
  height: 5vh;
  width: 2.5vw;
  border-radius: 100px;
  filter: blur(20px)
}

.circle1{
  position: absolute;
  /* margin: 10px; */
  background-color: #570d79;
  left: 19.2vw;
  top: 10vh;
  height: 3.5vw;
  width: 3.5vw;
  scale: 1;
  filter: blur(30px);
  animation: scaleup 5s infinite, circle1move 15s infinite ease-in-out;
  /* animation: scaleUp 5s infinite; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.circle2{
  position: absolute;
  /* margin: 0px; */
  top: 18vh;
  left: 4.5vw;
  height: 4vw;
  width: 4vw;
  background-color: #423b8b;
  filter: blur(30px);
  animation: scaleup 5s infinite, circle2move 15s infinite ease-in-out;
  /* animation: scaleup 5s infinite; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.circle3{
  position: absolute;
  /* margin: 0px; */
  left: 15vw;
  top: 30vh;
  height: 7.5vw;
  width: 7.5vw;
  background-color: #232155;
  filter: blur(30px);
  animation: scaleup 5s infinite, circle3move 15s infinite ease-in-out;
  /* animation: scaleup 5s infinite; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.circle4{
  position: absolute;
  left: 6vw;
  top: 40vh;
  height: 5vw;
  width: 5vw;
  background-color: #542a6b;
  /* opacity: 0.7; */
  filter: blur(30px);
  animation: scaleup 5s infinite, circle4move 15s infinite ease-in-out;
  /* animation: scaleup 5s infinite; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#spinner1, #spinner2, #spinner3, #spinner4{
  position: absolute;
  height: 50vh;
  width: 32vw;
  scale: 1;
  /* animation: scaleUp 5s infinite; */
}

#spinner1{
  animation: rotate 4s infinite, scaleUp 10s infinite;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#spinner2{
  animation: rotate 7s infinite, scaleUp 10s infinite;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#spinner3{
  animation: rotate 6s infinite, scaleUp 10s infinite;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#spinner4{
  animation: rotate 5s infinite, scaleUp 10s infinite;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#projectsContainer{
  display: grid;
  grid-template-columns: 16vw 16vw 16vw 16vw;
  gap: 1vw;
  margin-top: 23vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 8vh;
  /* width: 100%; */
  height: 100vh;
  /* background: linear-gradient(135deg, #e3e2ff, rgb(240, 207, 251)); */
  background-color: rgb(27, 27, 27);
  /* background-color: rgb(170, 26, 26); */
  border-top: 2px solid grey;
}

/* #project1:hover ~ #project2, #project1:hover ~ #project3, #project1:hover ~ #project4{
  filter: blur(2px);
  transition: 300ms;
}

#project2:hover + #project1, #project2:hover ~ #project3, #project2:hover ~ #project4{
  filter: blur(2px);
  transition: 300ms;
} */


#project1, #project2, #project3, #project4{
  position: relative;
  height: 50vh;
  width: auto;
  background-color: rgb(27, 27, 27);;
  /* border: 1px solid white; */
  transition: scale 300ms ease-in-out;
  border: 1px solid grey;
  transition: 300ms;
}

#project1:hover, #project2:hover, #project3:hover, #project4:hover{
  cursor: pointer;
  scale: 1.1;
  transition: scale 300ms ease-in-out;
  background-color: rgb(0, 0, 0);
}

#currentProjectDisplay{
  position: relative;
  top: -45vh;
  margin: 0 auto;
  width: 88%;
  height: 36vh;
  border: 2px solid grey;
}

@keyframes rotate {
  from {rotate: 0deg;}
  to {rotate: 360deg;}
}

/* @keyframes scaleup {
  0% {
   filter: blur(30px);
  }
  5% {
    filter: blur(10px);
  }
  30% {
    filter: blur(30px);
  }
  100% {
    filter: blur(30px);
  }
} */

@keyframes circle1move {
  0% {
    left: 370px;
    top: 100px;
    scale: 1;
  }
  5% {
    left: 275px;
    top: 205px;
    scale: 0.5
  }
  8% {
    left: 275px;
    top: 205px;
    scale: 0.5
  }
  30% {
    left: 370px;
    top: 100px;
    scale: 1;
  }
  100% {
    left: 370px;
    top: 100px;
  }
}

@keyframes circle2move {
  0% {
    top: 180px;
    left: 90px;
    scale: 1;
  }
  5% {
    left: 270px;
    top: 200px;
    scale: 0.5
  }
  8% {
    left: 270px;
    top: 200px;
    scale: 0.5
  }
  30% {
    top: 180px;
    left: 90px;
    scale: 1;
  }
  100% {
    top: 180px;
    left: 90px;
    scale: 1;
  }
}

@keyframes circle3move {
  0% {
    left: 300px;
    top: 300px;
    scale: 1;
  }
  5% {
    left: 235px;
    top: 165px;
    scale: 0.5
  }
  8% {
    left: 235px;
    top: 165px;
    scale: 0.5
  }
  30% {
    left: 300px;
    top: 300px;
    scale: 1;
  }
  100% {
    left: 300px;
    top: 300px;
    scale: 1;
  }
}

@keyframes circle4move {
  0% {
    left: 120px;
    top: 400px;
    scale: 1;
  }
  5% {
    left: 260px;
    top: 190px;
    scale: 0.5
  }
  8% {
    left: 260px;
    top: 190px;
    scale: 0.5
  }
  30% {
    left: 120px;
    top: 400px;
    scale: 1;
  }
  100% {
    left: 120px;
    top: 400px;
    scale: 1;
  }
}
